language: scala
matrix:
  include:
    - os: linux
      jdk: oraclejdk9
      scala: 2.12.7
    - os: linux
      jdk: oraclejdk8
      scala: 2.12.7
script:
  - travis_wait 40 sbt -no-colors ++$TRAVIS_SCALA_VERSION -J-Xms2g -J-Xmx2g -J-XX:MaxMetaspaceSize=512m clean coverage test coverageReport mimaReportBinaryIssues
after_success:
  - bash <(curl -s https://codecov.io/bash)
