language: scala

matrix:
  include:
    - os: linux
      sudo: false
      jdk: oraclejdk9
      scala: 2.12.4
      addons:
        apt:
          packages:
            - oracle-java9-installer # Forces use of newer JDK 9 build
    - os: linux
      sudo: false
      jdk: openjdk8
      scala: 2.12.4
    - os: linux
      sudo: false
      jdk: oraclejdk8
      scala: 2.11.12

before_install:
  - |
      if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(.md)|(.png)|(.pdf)|(.html)|^(LICENSE)|^(docs)'
      then
        echo "Only doc files were updated, stopping build process."
        exit
      fi

script:
  - sbt -no-colors ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport mimaReportBinaryIssues

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - sbt -no-colors ++$TRAVIS_SCALA_VERSION 'benchmark/jmh:run -prof gc .*Benchmark.*'
