language: scala

matrix:
  include:
    - os: linux
      sudo: false
      jdk: oraclejdk8
      scala: 2.12.4
    - os: linux
      sudo: false
      jdk: openjdk8
      scala: 2.11.12
    - os: linux
      sudo: false
      jdk: oraclejdk9
      scala: 2.12.4
      addons:
        apt:
          packages:
            - oracle-java9-installer # Forces use of even newer JDK 9 build

script:
  - sbt -no-colors ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - sbt -no-colors ++$TRAVIS_SCALA_VERSION clean 'benchmark/jmh:run -prof gc .*JsonCodecMakerBenchmark.*'
