language: scala
git:
  depth: 100
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier
before_cache:
  # Cleanup locks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
matrix:
  include:
    - os: linux
      jdk: oraclejdk11
      scala: 2.13.0
    - os: linux
      scala: 2.12.10
      env: JDK=graalvm-ce-19.2.1
      before_script:
        - unset -v _JAVA_OPTIONS
        - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh
        - source install-jdk.sh --url https://github.com/oracle/graal/releases/download/vm-19.2.1/graalvm-ce-linux-amd64-19.2.1.tar.gz
        - echo JAVA_HOME = ${JAVA_HOME}
        - echo PATH = ${PATH}
        - ls ${JAVA_HOME}
script:
  - travis_wait 60 sbt -batch ++$TRAVIS_SCALA_VERSION! clean coverage test coverageAggregate mimaReportBinaryIssues < /dev/null
after_success:
  - bash <(curl -s https://codecov.io/bash)
