language: scala
git:
  depth: 100
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier
before_cache:
  # Cleanup locks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
matrix:
  include:
    - os: osx
      osx_image: xcode10.1 # macOS 10.13, JDK 11.0.1+13
      scala: 2.13.0
    - os: linux
      jdk: openjdk8
      scala: 2.12.8
script:
  - travis_wait 40 sbt -no-colors ++$TRAVIS_SCALA_VERSION -Dsbt.supershell=false clean coverage test coverageAggregate mimaReportBinaryIssues
after_success:
  - bash <(curl -s https://codecov.io/bash)
