name: build

on:
  push:
    paths-ignore:
      - 'jsoniter-scala-examples/**'
      - '**.md'
    branches-ignore:
      - "gh-pages"
  pull_request:
    paths-ignore:
      - 'jsoniter-scala-examples/**'
      - '**.md'
    branches-ignore:
      - "gh-pages"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java:
          - 17
          - 25
        os:
          - ubuntu-22.04-arm
          - ubuntu-22.04
      fail-fast: false
    steps:
      - name: Configure git
        run: "git config --global core.autocrlf false"
        shell: bash
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 300
      - name: Fetch tags
        run: git fetch --depth=300 origin +refs/tags/*:refs/tags/*
      - name: Set JVM options for JDK 25+
        if: matrix.java >= 25
        run: echo "JAVA_TOOL_OPTIONS=-XX:+UseCompactObjectHeaders" >> $GITHUB_ENV
        shell: bash
      - name: Cache SBT deps
        uses: coursier/cache-action@v6
      - name: Setup Scala with SBT
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:${{ matrix.java }}
          apps: sbt
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Test with Scala Next
        run: "sbt ++3.7.4! jsoniter-scala-macrosJVM/test jsoniter-scala-next-testsJVM/test"
        shell: bash    
      - name: Test with Scala 2 and 3 LTS and Check Binary Compatibility
        run: "sbt -batch +clean +test +mimaReportBinaryIssues"
        shell: bash
